<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>

    <ul>

    </ul>

    <div v-for="(name, index) in names" :key="index">
      <test-card :name="name" @buttonclick="showAlert">
      <ul>
        <li>Hallo {{ name }}</li>
      </ul>
      </test-card>
    </div>
    <test-card name="Heinz" action="Delete" />
  </div>
</template>

<script>
import TestCard from './components/TestCard.vue'

//import HelloWorld from './components/HelloWorld.vue'
// eslint-disable-next-line no-unused-vars
//import axios from 'axios'

export default {
  name: 'App',
  components: {
    TestCard
  },
  data() {
    return {
      names: ['Max', 'Hans', 'Franz']
    }
  },
  methods:{
    showAlert(name){
      alert(name);
    }
  }
}
</script>

<style src="bootstrap/dist/css/bootstrap.css"></style>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
