<style>
    #topheader .navbar-nav li > a {
      text-transform: capitalize;
      color: rgb(255, 255, 255);
      -webkit-transition: background-color 0.2s, color 0.2s;
      transition: background-color 0.2s, color 0.2s;
    }
    #topheader .navbar-nav li > a:hover,
    #topheader .navbar-nav li > a:focus {
      background-color: #005596;
      color: rgb(255, 0, 212);
    }
    #topheader .navbar-nav li.active > a {
      background-color: #3990e0;
      color: rgb(18, 231, 28);
    
    }
    </style>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="main-nav">
    
        <a class="navbar-brand" href="index.html" >FLOs!!</a>
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
       <!-- <div id="topheader">-->
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="cards.html">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript.html">JavaScript</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Nachrichten
                        </a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://www.orf.at" target="_blank">ORF</a>
                        <a class="dropdown-item" href="https://www.derstandard.at">DerStandard</a>
                        <a class="dropdown-item" href="hideP.html">Hide Paragraph</a>
                        </div>
                    </li>
                </ul>
           <!-- </div>-->
           
        </div>
    
        <div class="flex-grow-0 order-lg-1 ml-auto pr-2 navbar-right">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown float-right" href="#" id="navbardrop" data-toggle="dropdown">
                        <img class="rounded-circle" src="images/baby_husky.jpg" alt="logo" style="height:40px" >
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="login.html">
                            <em class="fas fa-user-circle"></em> Login
                        </a>
                        <a class="dropdown-item" href="register.html">
                            <em class="fas fa-user-circle"></em> Registrieren
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    