<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Birds!!!</title>
  </head>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <body>
    <div id="app">
      <h1 class="uberS">{{ startH1 }}</h1>
      <button type="button" @click="getBirds()" class="getBirdsButton">Get Bird!</button>
      <!--<ul>
        <li v-for="bird in birds">{{ bird.commonName }}<span> is </span>{{ bird.commonwealthStatus }}</li>
      </ul>-->
      <div class="card-deck">
      <div class="card" style="width:400px" v-for="bird in birds">
        <img class="card-img-top" :src="bird.pic" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ bird.commonName}}</h4>
          <p class="card-text">{{ bird.id }}</p>
          <p class="card-text">{{ getBirdAuthors(bird) }}</p>
          <p class="card-text">{{ bird.commonwealthStatus }}</p>
        </div>
      </div>
    </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
