h1 {
  background-color: orchid;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

h2 {
  text-align: center;
  color: lawngreen;
  background-color: olive;
}

.text-mitte {
  text-align: center;
  margin-bottom: 30px;
  background-color: peru;
  border: 100px solid;
}

.text-links {
  text-align: left;
  margin-left: 400px;
  margin-right: 1360px;
  border: 10px solid;
}

.text-rechts {
  text-align: right;
  margin-right: 400px;
  margin-left: 1428px;
  background-color: pink;
}
