<style>
#topheader .navbar-nav li > a {
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
#topheader .navbar-nav li > a:hover,
#topheader .navbar-nav li > a:focus {
  background-color: #005596;
  color: rgb(255, 0, 212);
}
#topheader .navbar-nav li.active > a {
  background-color: #3990e0;
  color: rgb(18, 231, 28);

}
</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="main-nav">

    <a class="navbar-brand" href="index.html" >FLOs</a>
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
   <!-- <div id="topheader">-->
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="siteone.html">Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sitetwo.html">JavaScript</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Nachrichten
                    </a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://www.orf.at" target="_blank">ORF</a>
                    <a class="dropdown-item" href="https://www.derstandard.at">DerStandard</a>
                    <a class="dropdown-item" href="sitethree.html">Link 3</a>
                    </div>
                </li>
            </ul>
       <!-- </div>-->
       
    </div>

    <div class="flex-grow-0 order-lg-1 ml-auto pr-2 navbar-right">
        
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown float-right" href="#" id="navbardrop" data-toggle="dropdown">
                <img class="rounded-circle" src="images/baby_husky.jpg" alt="logo" style="height:40px" >
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="user.html">
                    <em class="fas fa-user-circle"></em> Profile
                </a>
                <a class="dropdown-item" href="#">
                    <em class="fas fa-user-circle"></em> Messages
                </a>
                <a class="dropdown-item" href="#">
                    <em class="fas fa-user-circle"></em> Logout
                </a>
            </div>
        </li>
    </ul>
</div>

    <!--
    <script>
    $(document).ready(function() {
        // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('ul li a').click(function(){ $('li a').removeClass("active"); $(this).addClass("active"); });
    })
    </script>
    -->
<!--
    <script>
        $(document).ready(function() {
            $( ".mr-auto .nav-item" ).bind( "click", function(event) {
                event.preventDefault();
                var clickedItem = $( this );
                $( ".mr-auto .nav-item" ).each( function() {
                    $( this ).removeClass( "active" );
                });
                clickedItem.addClass( "active" );
            });
        });
        </script>
        -->
<!--<script>
var pathname = window.location.pathname,
pages = ['index', 'siteone.html', 'uploads','about'];

$('.nav-item').each(function(i) {
 if (pathname.includes(pages[i])) this.addClass('active');
 else if (this.className.includes('active')) this.removeClass('active');
});
</script>-->

    <!--
    <script>
        $( '#topheader .navbar-nav a' ).on('click', 
                    function () {
            $( '#topheader .navbar-nav' ).find( 'li.active' )
            .removeClass( 'active' );
            $( this ).parent( 'li' ).addClass( 'active' );
        });
    </script>
-->
</nav>
<br>
