<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ name }}</h1>
            <div class="card-text"> 
                <div v-if="$slots.default">
                    <slot/> 
                </div>
                <p v-else>Lorem Ipsum</p>
            </div>
            <button type="button" class="btn btn-primary" @click="$emit('buttonclick', name)">Edit</button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: String
    }
}
</script>
